.App {
  direction: rtl;
  background: #00cce3;
  color: white;
  text-align: center;
}

.distance::after {
  content: " ק״מ ";
}

.contents {
  display: contents;
  color: initial;
  text-decoration: none;
  border-color: rgb(222, 226, 230);
}

.contents:hover td {
  background: rgba(0, 0, 0, 0.075);
}

.App td {
  vertical-align: middle;
  padding: 1rem;
  background: white;
}

.App th {
  color: white;
}

.App header {
  padding-right: 1rem;
}

.nameAndImage {
  display: flex;
  align-items: center;
  gap: 4%;
}

.td {
  border-color: inherit;
  border-style: solid;
  border-width: 1px;
  font-weight: bold;
}

.App article {
  border: 1px solid;
  width: fit-content;
  padding: 2rem;
  margin: 1rem 0rem;
  box-shadow: 5px 10px;
}

.App footer {
  font-weight: bold;
  padding-bottom: 2rem;
}
.station {
  padding-right: 1rem;
  padding-left: 1rem;
}

.paragraph {
  max-width: 40rem;
  padding-left: 10%;
}
