.App {
  direction: rtl;
  background: #eff2f5;
}

.distance::after {
  content: " ק״מ ";
}

.contents {
  display: contents;
  color: initial;
  text-decoration: none;
  border-color: rgb(222, 226, 230);
}

.contents:hover td {
  background: rgba(0, 0, 0, 0.075);
}

.App td {
  vertical-align: middle;
  padding: 1rem;
}

.App header {
  padding-right: 1rem;
}

.td {
  border-color: inherit;
  border-style: solid;
  border-width: 1px;
  font-weight: 700;
}

.App article {
  border: 1px solid;
  width: fit-content;
  padding: 2rem;
  margin: 1rem 0rem;
  box-shadow: 5px 10px;
}

.station {
  padding-right: 1rem;
}

.paragraph {
  max-width: 40rem;
  padding-left: 10%;
}
